#display-container {
  max-width: 37.5em;
}

.question {
  margin: 1.25em 0;
  font-weight: 600;
}

.timer-div {
  background-color: #87F4F1;
  padding: 3px 8px;
  border-radius: 10px;
}

.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}

.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;

}

.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;

}